 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;

  * {
    box-sizing: border-box;
    vertical-align: top;
  }
}

main {
  border: solid 1px;
  border-radius: 10px;
  margin: 20px auto;
  min-height: 400px;
  overflow: auto;
  padding: 10px;
  width: 600px;
}

h1 {
  text-align: center;
}

$border-color: #999;

//================FORM===================

.form {
  background: #CCC;
  border: solid 1px $border-color;
  border-radius: 3px;
  float: left;
  padding: 10px;
  width: 33%;

  input {
    margin-left: 60px;
    width: 100px;
  }

  textarea {
    margin-left: 60px;
    width: 100px;
  }

  button {
    display: block;
    width: 50px;
    margin: 20px auto 10px;
  }
}


//===============LIST====================

.todo-section {
  margin-left: 33%;
  overflow: auto;
  padding: 10px;
  width: 350px;
}

.delete-completed {
  position: absolute;
  right: 10px;
}

.filter-options {
  border-bottom: 1px solid $border-color;
  height: 20px;
  position: relative;
}

.todo-item {
  border-bottom: 1px solid $border-color;
  display: none;
  overflow: auto;
  position: relative;
  padding: 10px;

  &.active {
    display: block;
  }

  &.editable {
    display: block;

    span {
      display: inline-block;
      width: 50px;
    }

    input {
      margin-left: 10px;
      width: 200px;
    }

    textarea {
      margin-left: 10px;
      width: 200px;
    }

    div {
      margin: 5px;
    }

    button {
      margin: 10px 0 10px 250px;
    }
  }
}
.completed-checkbox {
  vertical-align: middle;
  position: absolute;
  top: 15px;
}

.item-details {
  margin-left: 20px;
  width: 50%;
  display: inline-block;

  h2 {
    margin: 0;

  }
}

.completed {
  color: #ccc;
}
