<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Assignment 11 for TIY-GVL-FEE-2014-Aug">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>My To-Dos</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


    <link rel="icon" type="image/ico" href="/favicon.ico?v=2">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <main>
      <h1> My sweet to-do list</h1>

      <section class="form">
        <form class="form-element">
          <h2>Add a new todo item</h2>
        <div><script type="text/template" id="form">
          <div>Title: <input id="title" type="text" placeholder="title"></div>
          <div>Due date: <input id="due-date" type="date"></div>
          <div>Description: <textarea id="description"></textarea></div>
          <div><button id="submit-button">submit</button></div>
        </script></div>
        </form>
      </section>

      <section class="todo-section">
        <div class="filter-options">
          <button class="delete-completed" id="delete-completed">delete completed</button>
        </div>
        <script type="text/template" id="todo-item">
        <div class="todo-item active" id="<%= id %>">
            <input class="completed-checkbox" type="checkbox" />
            <div class="item-details">
            <h2><%= title %></h2>
            <span>Due: <%= dueDate %></span>
            <p><%= description %></p>
            <a href="#" class="edit">edit</a>
            </div>
        </div>
        <form class="todo-item">
          <div><span>Title: </span><input class="title" type="text" value="<%= title %>"></div>
          <div><span>Due date: </span><input class="due-date" type="date" value="<%= moment(dueDate).format('YYYY-MM-DD') %>"></div>
          <div><span>Description: </span><textarea class="description"><%= description %></textarea></div>
          <button id="update-button">update</button>
        </form>

        </script>
      </section>
    </main>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->


        <!-- build:js scripts/moment.js -->
        <script src="//momentjs.com/downloads/moment.min.js"></script>
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
  </body>
</html>
